[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
mysql-connector-python = "*"
mysqlclient = "*"
python-dotenv = "*"
fpdf = "*"
tkcalendar = "*"
ttkthemes = "*"
sqlite-bro = "*"
reportlab = "*"
num2words = "*"

[dev-packages]

[requires]
python_version = "3.8"
